<div class="mt-4">
  <div class="container">
    <form method="POST" action="/admin/{{course._id}}?_method=PUT">
      <div class="form-group">
        <label for="exampleInputEmail1">Tên Khóa Học</label>
        <input
          value="{{course.title}}"
          type="text"
          class="form-control"
          name="title"
          id="exampleInputEmail1"
          placeholder="Nhập tên khóa học"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Level</label>
        <input
          value="{{course.level}}"
          type="text"
          class="form-control"
          name="level"
          id="exampleInputEmail1"
          placeholder="Nhập trình độ khóa học"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">URL</label>
        <input
          value="{{course.path}}"
          type="text"
          class="form-control"
          name="path"
          id="exampleInputEmail1"
          placeholder="Nhập đường dẫn khóa học"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>